<!DOCTYPE HTML>

<html lang='en'>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<script type=text/javascript>
		  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon-310.png') }}">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>

	
	<body>
		<script type="text/javascript">
	
		$(document).ready(function(){
		    $("#fetch").click(function(){
		    	$("#sung_div").empty();
		        $.getJSON($SCRIPT_ROOT + "/_test", 		        		  		
		        
		        function(data){
		        	var my_div = document.getElementById('sung_div');
					$.each(data, function(i, field){
						$(my_div).append(field + " ");
					});
					var clear_button = document.createElement("BUTTON");
					var t = document.createTextNode("Clear");
					clear_button.appendChild(t);
					clear_button.addEventListener('click', function(){
						$('#sung_div').empty();
					}, false);
					
					my_div.appendChild(clear_button);
				});
		        
		    });
		});
		</script>
		
		
		<script>
		$(document).ready(function() {
		    $(document).on('submit', '#state_select', function(e) {
		        $('#state_info tbody > tr').remove();
		        $.ajax({
		            url: $(this).attr('action'),
		            type: $(this).attr('method'),
		            data: $(this).serialize(),
		            success:
		                function(data) {
			            	var mk_table = '';
							var state_info_div = document.getElementById('state_info');
							
							if(data.my_result.length != 0){
								$.each(data.my_result, function(item, field){
									mk_table += '<tr><td>' + field.INSTITUTION_STATE+ '</td><td>' + field.INSTITUTION_NAME+ '</td></tr>';
									console.log(field.INSTITUTION_STATE);
									console.log(field.INSTITUTION_NAME);
								});
							} else{
								window.alert('Please choose a state');
							}
							$(state_info_div).append(mk_table);
		            	}
		        });
		        e.preventDefault();
		    });
		});
		</script>
		
		
		
		
		<h1>Accredited Schools in US</h1>
		
		<script>
		$(function() {
		    $("#search_schools").autocomplete({
				source: function( request, response ) {
				       $.ajax({
				         url: "/_search_schools",
				         dataype: "jsonp",
				         data: {term: request.term},
				         success: function(data) {
	                            response(data.names)
	                     }
				       });
				},
				minLength: 3
		    });
		  });
		
		
		</script>
		
		<div class="ui-widget">
			<input id="search_schools">
		</div>
		
		<p><a href=# id=fetch>Get Data</a></p>
		<div id="sung_div"></div>

		<form id=state_select action="/_form" method="GET" >
	        <ul>
	            <li>State: 
		            <select id="state" name="state">
					<option value="">Select a State:</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="NY">New York</option>
					</select>
	            </li>
	        </ul>
	        <button type="submit">Submit</button>
	    </form>
	    
		<table id="state_info" border='1'>
			<thead>
				<tr>
					<th>State</th>
					<th>Institution</th>
				</tr>
			</thead>
		
			
		</table>
		
		
	</body>
</html>